{% extends "//chrome/android/java/AndroidManifest.xml" %}

## Copyright 2019 The Triple Banana Authors. All rights reserved.
## This Source Code Form is subject to the terms of the Mozilla Public
## License, v. 2.0. If a copy of the MPL was not distributed with this
## file, You can obtain one at https://mozilla.org/MPL/2.0/.

## Note: This is a jinja2 template, processed at build time into the final manifest.

{% block application_name %}org.triple.banana.TripleBananaApplication{% endblock %}

{% block extra_application_definitions %}
<activity
    android:name="org.triple.banana.authentication.KeyguardActivity"
    android:theme="@style/Theme.Chromium.Activity.FakeTranslucent"
    android:configChanges="locale|fontScale|orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize">
</activity>

<activity
    android:name="org.triple.banana.authentication.BiometricPromptActivity"
    android:theme="@style/Theme.Chromium.Activity.FakeTranslucent"
    android:configChanges="locale|fontScale|orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize">
</activity>

<activity
    android:name="org.triple.banana.authentication.FingerprintManagerActivity"
    android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar"
    android:configChanges="locale|fontScale|orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize">
</activity>
<activity
	android:name="org.triple.banana.toolbar.ToolbarEditActivity"
	android:theme="@style/Theme.Chromium.Activity.Fullscreen"
	android:exported="false"
	android:configChanges="locale|fontScale|orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize">
</activity>
{% endblock %}
